.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.general-button {
    background-color: #B5C1A5;
    color: darkolivegreen;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 4px;
    border: 2px solid darkolivegreen;


}