form {
    color: #ECECEC;
    padding: 10px 30px;
    /*border: 2px solid rebeccapurple;*/
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
}

label {
    /*border: 2px solid yellow;*/
    margin: 8px;
}

.text-input, .password-input {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 0.75rem;
    display: block;
    margin: 5px auto;
    width: 100%;
    background-color: #F9FFF0;
}


.logged-in-message p {
    font-size: 2em;
}

.logged-in-message {
    font-size: 1em;
}

.go-to-homepage, .go-to-login{
    text-decoration: underline;
    color: #B5C1A5;
}
.go-to-homepage:hover, .go-to-login:hover{
    text-decoration: underline;
    color: cornflowerblue;
}

.registered-message, h3{
    line-height: 2em;

}

