/*.lexend-deca-<uniquifier> {*/
/*                  font-family: "Lexend Deca", sans-serif;*/
/*                  font-optical-sizing: auto;*/
/*                  font-style: normal;*/
/*              }*/

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Lexend Deca", sans-serif;
    color: #263019;
}

.recipe-card-container {
    background-color: #B5C1A5;
    height: fit-content;
    padding-bottom: 30px;
    width: 560px;

    border-radius: 10px;

}

.upper-recipe {
    display: flex;
}
/*------ left image ------*/


.cocktail-image {
    width: 205px;
    height: 205px;
    border-radius: 20px;
    padding: 15px 20px 15px 40px;
}

/*----------- text ---------*/
.ingredient-textbox {
    width: 55%;
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    margin: 15px 15px 15px 5px;
    /*border: 2px solid rebeccapurple;*/
}

.title-likebutton-container {
    display: flex;
    justify-content: space-between;
    margin: 25px 20px 0 35px;
    /*border: 2px solid yellow;*/
    align-items: center;
}

.rcard-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: -10px;
    color: #263019;

}

.ingredients-title {
    font-weight: bolder;
    font-size: 18px;
}

.title-heart-container .icon-heart {
    position: relative;
    bottom: 10px;
}

.lower-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.recipe-specifics {
    /*border: 2px solid darkslategrey;*/
    display: flex;
    justify-content: flex-end;
    margin: 0 25px 10px 25px;
    border-bottom: 3px solid #263019;
}


.specifics {
     padding: 5px 10px;
 }

.mocktail-glassshape {
    width: 100%;
    border: 3px solid royalblue;
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
}

.instructions-title {
    font-weight: bolder;
    margin-left: 30px;
    margin-top: 10px;
}
.instructions-text {
    margin: 10px 30px;

    /*border: 2px solid orangered;*/

}

/*.instructions-heart {*/
/*    display: flex;*/
/*}*/

.icon-heart {
    align-self: flex-end;
    margin: 10px;

}