.a-z-list {
    display: flex;
    justify-content: center;
    /*border: 5px solid mediumpurple;*/
}

.letter-button {
    background-color: #263019;
    padding: 5px;
    color: #ECECEC;
    font-size: 1.25rem;
    font-family: "Courier Prime", monospace;
}

.letter-button:hover {
    background-color: hotpink;
    font-weight: bold;
    color: antiquewhite;
}

/*------------displaysearchresults-CSS*/

.drink-list-parent {
    display: flex;
    justify-content: center;
    height: 400px;
    border: 3px solid mediumpurple;
}

.drink-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 3px solid mediumspringgreen;
    flex-wrap: wrap;
}

.clickable-item {
    padding: 10px 13px;
    background-color: #263019;
    color: #ECECEC;
    font-size: 1rem;
    border: 3px solid mediumspringgreen;
}

.clickable-item:hover {
    background-color: hotpink;
    font-weight: bold;
    color: antiquewhite;
}