.lexend-deca-<uniquifier> {
                  font-family: "Lexend Deca", sans-serif;
                  font-optical-sizing: auto;
                  font-style: normal;
              }

.cocktail-card {
    display: flex;
    width: 465px;
    heigth: 205px;
    border-radius: 10px;
    background-color: #B5C1A5;
}

/*------ left image ------*/

.detail-image {
    width: 170px;
    height: 170px;
    /*border-radius: 10px;*/
    margin: 0 auto;
}

/*----------- text ---------*/
.title-detail-card {
    font-font: "Bebas Neue", sans-serif;;
    font-weight: bold;
    font-size: 2rem;
    color: #263019;
}

.information-side {
    font-family:  "Lexend Deca", sans-serif;
    padding: 20px;
    color: #263019;
    line-height: 1.5;
    border: 2px solid rebeccapurple;
    width: 65%;

}


