.parent-container {
    border: 3px solid greenyellow;
    height: 500px;
}

.cocktail-card {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    border: 2px solid navajowhite;
    width: 350px;
    heigth: 150px;
    background-color: deeppink;
}

         /*------ left image ------*/
.image-side {
    border: 1px solid black;
}
.detail-image {
    width: 120px;
    height: 120px;
}
       /*----------- right text ---------*/
.information-side {
    border: 1px solid black;
    padding: 10px;
    color: blanchedalmond;
}

.title-detail-card {
    font-weight: bold;
    padding: 5px;
    font-size: 1.25rem;
}

